= form_for @demot, html: { multipart: true } do |f| 
  - if @demot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@demot.errors.count, "error")} prohibited this demot from being saved:"
      %ul
        - @demot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tittle
    = f.text_field :tittle
  .field
    = f.label :image
    = f.file_field :image
    .field
    =f.label :active
    =f.check_box :active
  .actions
    = f.submit 'Zapisz'
